@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');

*{margin: 0; padding : 0; box-sizing: border-box;}

body{
   font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("PC.png") no-repeat center;
    background-size: cover;
}
body::before{
    content: "";
    position: absolute; z-index: 1;
    top: 0; right: 0; bottom: 0; left: 0;
    
}
.login_form{position: relative; z-index: 2;}
.login_form h1{
    font-family: 'Playfair Display', serif;
    font-size: 39px; color: #fff;
    margin-bottom: 7px;
    text-align: center;
    
}
.login_form h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px; color: #fff;
    margin-top: 15px;
    margin-bottom: 7px;
    text-align: center;
    
}

.id_pw{width: 400px; position: relative;}
.id_pw:child{margin-top: 0;}
.id_pw input{
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom:  1px solid #999;
    font-size: 18px; color: #fff;
    outline: none;
}
.id_pw label{
    position:absolute; left: 10px; top:15px;
    font-size: 18px; color: #999;
    transition: top .5s ease;
}

.id_pw input:focus + label,
.id_pw input:valid + label
 {
    top: -1;
    font-size: 13px; color: lightskyblue;
}

.btn{margin-top: 30px; margin-bottom: 30px}
.btn button{
    width: 70%; height: 45px;
    background: #DF0101;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 25px;
}
